/* .post-item .markdown {
    margin-left: 1em;
} */

.post-item .tag {
    margin-right: 1em;
}
.post-item .tag:last-of-type {
    margin-right: 0;
}
.post-item .post-item-link {
    color: inherit;
    text-decoration: inherit;
}